@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/imagenes/Academia.jpg" width="400" height="300" />
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>
        Ingrese a "Cursos" para ver la oferta academica o haga clik <a asp-area="" asp-controller="Cursos" asp-action="Index">Aquí</a>.
    </p>
</div>
